{% extends 'base.html.twig' %}


{% block body %}
    <div class="container" data-product="{{ product.id }}" id="form-container">
        <h2>{{ 'addOffer.form.title'|trans({'%productName%': product.name}) }}</h2>
        {{  form_start(form) }}
        {{ form_errors(form) }}
        <div class="form-group">
           {{ form_label(form.state)}}
           {{ form_widget(form.state)}}
            {{ form_errors(form.state) }}
        </div>
        <div class="form-group">
            {{ form_label(form.minimumPrice)}}
            {{ form_widget(form.minimumPrice)}}
            {{ form_errors(form.minimumPrice) }}
        </div>
        <div class="btn-group">
            <a href="{{ path('index') }}" class="btn badge-danger">{{ 'addOffer.form.cancel'|trans }}</a>
            {{ form_widget(form.save) }}
        </div>
        {{ form_end(form, {'render_rest': false}) }}
    </div>
{% endblock %}
