{% extends 'base.html.twig' %}

{# Import macros #}
{% import "macro/macroCompetingOffer.html.twig" as listCompetingOffer %}
{% import "macro/macroOffer.html.twig" as listOffer %}


{% block title %}Testing pricing{% endblock %}

{% block body %}

<div class="container-fluid">
    <body>
    {% for product in products %}
        <div style="display: flex">
            <h2 style="margin-right: auto">{{ product.name }}</h2>
            <a type="button" class="btn btn-success " href="{{ path('add_offer', {idProduct: product.id}) }}">Add Offer</a>
        </div>

        <div class="row">
            {{ listOffer.display(product.offers) }}
        </div>
        <div>
            {{ listCompetingOffer.display(product.competingOffers) }}
        </div>
    {% endfor %}
    </body>
</div>
{% endblock %}
