{% macro display(unsortOffers) %}
    {% set offers = competingOfferSorting(unsortOffers) %}
    <div class="col-sm">
        <h3>{{ 'listOffer.title'|trans }}</h3>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">{{ 'listOffer.table.minimum_price' | trans }}</th>
                <th scope="col">{{ 'listOffer.table.strategy_price' | trans }}</th>
                <th scope="col" colspan="2">{{ 'listOffer.table.state' | trans }}</th>
            </tr>
            </thead>
            {% if offers|length == 0 %}
                <tr>
                    <th colspan="3">{{ 'listOffer.table.empty_table' |trans }}</th>
                </tr>
            {% else %}
                {% for offer in offers %}
                    <tr>
                        <td>{{ offer.minimumPrice |money_format }}</td>
                        <td> {{ offer.price |money_format }} </td>
                        <td>{{ offer.state|product_state|trans }}</td>
                        <td><a type="button" class="close" aria-label="Close" href="{{ path('delete_offer', {idOffer: offer.id}) }}">
                                <span aria-hidden="true">&times;</span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>
{% endmacro %}