{% macro display(unsortOffers) %}
    {% set offers = competingOfferSorting(unsortOffers) %}
    <div class="col-sm">
    <h3>{{ 'listCompeting.title'|trans }}</h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">{{ 'listCompeting.table.seller_name' | trans }}</th>
            <th scope="col">{{ 'listCompeting.table.price' | trans }}</th>
            <th scope="col">{{ 'listOffer.table.state' | trans }}</th>
        </tr>
        </thead>
        {% if offers|length == 0 %}
            <tr>
                <th colspan="3">{{ 'listCompeting.table.empty_table' |trans  }}</th>
            </tr>
        {% else %}
            {% for offer in offers %}
                <tr>
                    <td>{{ offer.sellerName }}</td>
                    <td> {{ offer.price |money_format }} </td>
                    <td>{{ offer.state|product_state|trans }}</td>
                </tr>
            {% endfor%}
        {% endif %}
    </table>
    </div>
{% endmacro %}